<a href="https://colab.research.google.com/github/Deepanshu2601/cognitive_computing-/blob/main/assi1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("deeapnshu jindal")

deeapnshu jindal

In [9]:
x=2+3
y="deepanshu " + " jindal"
z="sem " + str(4)
print(x)
print(y)
print(z)

5
deepanshu  jindal
sem 4

In [13]:
x=int(input("enter numeber"))
if(x==0):
  print("zero")
elif(x>0):
    print("positive number")
elif(x<0):
    print("negative number")

if(x%2==0):
    print("number is even")
else:
    print("number is odd")

enter numeber5
positive number
number is odd

In [34]:

for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [30]:
i = 1
while i <= 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [33]:
sum_number=0
for num in range(1,101):
    sum_number += i

    print("the sum of number from 1 to 100 is :",sum_number)

the sum of number from 1 to 100 is : 11
the sum of number from 1 to 100 is : 22
the sum of number from 1 to 100 is : 33
the sum of number from 1 to 100 is : 44
the sum of number from 1 to 100 is : 55
the sum of number from 1 to 100 is : 66
the sum of number from 1 to 100 is : 77
the sum of number from 1 to 100 is : 88
the sum of number from 1 to 100 is : 99
the sum of number from 1 to 100 is : 110
the sum of number from 1 to 100 is : 121
the sum of number from 1 to 100 is : 132
the sum of number from 1 to 100 is : 143
the sum of number from 1 to 100 is : 154
the sum of number from 1 to 100 is : 165
the sum of number from 1 to 100 is : 176
the sum of number from 1 to 100 is : 187
the sum of number from 1 to 100 is : 198
the sum of number from 1 to 100 is : 209
the sum of number from 1 to 100 is : 220
the sum of number from 1 to 100 is : 231
the sum of number from 1 to 100 is : 242
the sum of number from 1 to 100 is : 253
the sum of number from 1 to 100 is : 264
the sum of number from 1 to 100 is : 275
the sum of number from 1 to 100 is : 286
the sum of number from 1 to 100 is : 297
the sum of number from 1 to 100 is : 308
the sum of number from 1 to 100 is : 319
the sum of number from 1 to 100 is : 330
the sum of number from 1 to 100 is : 341
the sum of number from 1 to 100 is : 352
the sum of number from 1 to 100 is : 363
the sum of number from 1 to 100 is : 374
the sum of number from 1 to 100 is : 385
the sum of number from 1 to 100 is : 396
the sum of number from 1 to 100 is : 407
the sum of number from 1 to 100 is : 418
the sum of number from 1 to 100 is : 429
the sum of number from 1 to 100 is : 440
the sum of number from 1 to 100 is : 451
the sum of number from 1 to 100 is : 462
the sum of number from 1 to 100 is : 473
the sum of number from 1 to 100 is : 484
the sum of number from 1 to 100 is : 495
the sum of number from 1 to 100 is : 506
the sum of number from 1 to 100 is : 517
the sum of number from 1 to 100 is : 528
the sum of number from 1 to 100 is : 539
the sum of number from 1 to 100 is : 550
the sum of number from 1 to 100 is : 561
the sum of number from 1 to 100 is : 572
the sum of number from 1 to 100 is : 583
the sum of number from 1 to 100 is : 594
the sum of number from 1 to 100 is : 605
the sum of number from 1 to 100 is : 616
the sum of number from 1 to 100 is : 627
the sum of number from 1 to 100 is : 638
the sum of number from 1 to 100 is : 649
the sum of number from 1 to 100 is : 660
the sum of number from 1 to 100 is : 671
the sum of number from 1 to 100 is : 682
the sum of number from 1 to 100 is : 693
the sum of number from 1 to 100 is : 704
the sum of number from 1 to 100 is : 715
the sum of number from 1 to 100 is : 726
the sum of number from 1 to 100 is : 737
the sum of number from 1 to 100 is : 748
the sum of number from 1 to 100 is : 759
the sum of number from 1 to 100 is : 770
the sum of number from 1 to 100 is : 781
the sum of number from 1 to 100 is : 792
the sum of number from 1 to 100 is : 803
the sum of number from 1 to 100 is : 814
the sum of number from 1 to 100 is : 825
the sum of number from 1 to 100 is : 836
the sum of number from 1 to 100 is : 847
the sum of number from 1 to 100 is : 858
the sum of number from 1 to 100 is : 869
the sum of number from 1 to 100 is : 880
the sum of number from 1 to 100 is : 891
the sum of number from 1 to 100 is : 902
the sum of number from 1 to 100 is : 913
the sum of number from 1 to 100 is : 924
the sum of number from 1 to 100 is : 935
the sum of number from 1 to 100 is : 946
the sum of number from 1 to 100 is : 957
the sum of number from 1 to 100 is : 968
the sum of number from 1 to 100 is : 979
the sum of number from 1 to 100 is : 990
the sum of number from 1 to 100 is : 1001
the sum of number from 1 to 100 is : 1012
the sum of number from 1 to 100 is : 1023
the sum of number from 1 to 100 is : 1034
the sum of number from 1 to 100 is : 1045
the sum of number from 1 to 100 is : 1056
the sum of number from 1 to 100 is : 1067
the sum of number from 1 to 100 is : 1078
the sum of number from 1 to 100 is : 1089
the sum of number from 1 to 100 is : 1100

In [ ]:
x=[1,2,3,4,5]
print("max:",max(x))
print("min:",min(x))

dict1={1:"one",2:"two",3:"three"}
x =eval(input("enter the key:"))
print ("Value:",dict1[x])

list1=[25,34,22,66,32,102,91]
list.sort()
print("sorted list in ascending order:",list1)
list1.sort(reverse = True)
print("sorted list in descending order:",list1)

dict2={4:"five",5:"five",6:"six"}
dict1.update(dict2)
print(dict1)

max: 5
min: 1

In [23]:
string= input("enter a string:")
vowels="aeiou"
vowel_count =0
for char in string:
  if char in vowels:
    vowel_count +=1
    print("number of vowels in the string:",vowel_count)

string = input("enter a string:")
reversed_string=string[::-1]
print("reversed string:",reversed_string)

string=input("enter a string")
revstr=string[::-1]
if(revstr==string):
  print("enter string in palindrome")
else:
  print("enter string is not palindrome")

enter a string:a
number of vowels in the string: 1
enter a string:a
reversed string: a
enter a stringe
enter string in palindrome

In [28]:
file=open("file.txt","w")

file.write("C.C\n")
print("data written")
file.close()

file=open("file.txt","r")
print(file.read())
file.close()

file=open("file.txt","a")
file.write("sem 4\n")
file.close()

file=open("file.txt","r")
print(file.read())
file.close()


file=open("file.txt","r")
print("number of lines:",len(file.readlines()))
file.close()

data written
C.C

C.C
sem 4

number of lines: 2

In [26]:
x=int(input("enter a number:"))
y=int(input("enter a number:"))

try:
  result=x/y
  print("result:",result)
except:
  print("zero division error")

try:
  num=int(input("enter a number:"))
  print("valid")
except:
  print("you didnt enter a number")


try:
  num=int(input("enter a number to divide 15:"))
  res=15/num
except:
  print("zero division error")
else:
  print("result:",res)
finally:
  print("done")

enter a number:15
enter a number:21
result: 0.7142857142857143
enter a number:215
valid
enter a number to divide 15:15
result: 1.0
done

In [5]:
import random
print('Five random numbers')
for i in range(5):
    print(random.randint(1,100))

Five random numbers
74
70
77
98
34

In [6]:
num=random.randint(1,100)
flag=True
for i in range(2,int(num/2) +1):
    if(num%i==0):
        flag=False
        break
if(flag==True):
    print(num,' is prime')
else:
    print(num,' is not prime')

90  is not prime

In [7]:
chance=int(input('Enter 0 to roll a die:'))
if(chance==0):
    print('You got ',random.randint(1,6))

Enter 0 to roll a die:3

In [8]:
list=[100,99,98,97,96,95,94,93,92,91,90]
random.shuffle(list)
print('Shuffled: ',list)

Shuffled:  [98, 96, 95, 100, 94, 99, 90, 93, 91, 97, 92]

In [ ]:
number=random.choice(list)
print('Number randomly chosen: ',number)

In [ ]:
list_of_chars="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890!@#$%^&*()"
length=int(input('Enter the length of password:'))
password=""
for i in range(length):
    password=password+random.choice(list_of_chars)
print("Your password is: ",password)

In [ ]:
Card=["hearts","diamond","clubs","spades"]
Rank=[2,3,4,5,6,7,8,9,0,"Jack","Queen","King","Ace"]
card=random.choice(Card)
rank=random.choice(Rank)
print(rank," of ",card)

In [ ]:
import sys
if len(sys.argv)!=3:
  print("print provide two number :")
else:
  try:
    num1=float(sys.argv[1])
    num2=float(sys.argv[2])

    result=num1+num2

    print("")

In [1]:
import sys
if len(sys.argv)=2:
  print("please provide a string :")

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (<ipython-input-1-5de06268a9f5>, line 2)

In [2]:
import math
from datetime import datetime

print(math.cos(0))
print(math.cos(math.pi))
print(math.fabs(-3))

a=int(input("enter a number:"))
b=math.pow(a,1/2)
print("square root of",a,"is:",b)


print("\n\n")
now=datetime.now()
date=now.strftime("%d/%m/%y")
time=now.strftime("%h/%m/%S")
print("current data:",date)
print("current time:",time)

print("\n\n")
import os
print("list of files:",os.listdir())

1.0
-1.0
3.0
enter a number:3
square root of 3 is: 1.7320508075688772



current data: 18/01/25
current time: Jan/01/28



list of files: ['.config', 'sample_data']