<a href="https://colab.research.google.com/github/Deepanshu2601/cognitive_computing-/blob/main/ccassi3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.DataFrame({'Tid' : [1,2,3,4,5,6,7,8,9,10],
                 'Refund' : ['Yes','No','No','Yes','No','No','Yes','No','No','No'],
                 'Marital Status' : ['Single','Married','Single','Married','Divorced','Married','Divorced','Single','Married','Single'],
                 'Taxable Income' : ['125K','100K','70K','120K','95K','60K','220K','85K','75K','90K'],
                 'Cheat' : ['No','No','No','No','Yes','No','No','Yes','No','Yes']
                })
print(df)

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
1    2     No        Married           100K    No
2    3     No         Single            70K    No
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No
9   10     No         Single            90K   Yes

In [ ]:
srow=df.iloc[[0,4,7,8]]
print(srow)

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
4    5     No       Divorced            95K   Yes
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No

In [ ]:
s=df.loc[3:7]
print(s)
print()
t=df.iloc[[4,5,6,7,8],[2,3,4]]
print(t)
print()
u=df.iloc[[0,1,2,3,4,5,6,7,8,9],[1,2,3]]
print(u)

   Tid Refund Marital Status Taxable Income Cheat
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes

  Marital Status Taxable Income Cheat
4       Divorced            95K   Yes
5        Married            60K    No
6       Divorced           220K    No
7         Single            85K   Yes
8        Married            75K    No

  Refund Marital Status Taxable Income
0    Yes         Single           125K
1     No        Married           100K
2     No         Single            70K
3    Yes        Married           120K
4     No       Divorced            95K
5     No        Married            60K
6    Yes       Divorced           220K
7     No         Single            85K
8     No        Married            75K
9     No         Single            90K

In [ ]:
df=pd.read_csv('//content/Iris.csv')
print(df)
df.head()
df.drop([4], axis = 0, inplace = True)
a = df.columns
print (a)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]
Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [ ]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa

In [ ]:
employee_data=pd.read_csv('/content/employee_data(1).csv')
employee_data.head()

,Employee_ID,Name,Department,Age,Salary,Years_of_Experience,Joining_Date,Gender,Bonus,Rating
0,101,Alice,HR,29,50000,4,15-03-2020,Female,5000,4.5
1,102,Bob,IT,34,70000,8,19-07-2017,Male,7000,4.0
2,103,Charlie,IT,41,65000,10,01-06-2013,Male,6000,3.8
3,104,Diana,Marketing,28,55000,3,10-02-2021,Female,4500,4.7
4,105,Edward,Sales,38,60000,12,25-11-2010,Male,5000,3.5

In [ ]:
employee_data.shape

(5, 10)

In [ ]:
print("Data Info:")
employee_data.info()
print()
print()

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_ID          5 non-null      int64
 1   Name                 5 non-null      object
 2   Department           5 non-null      object
 3   Age                  5 non-null      int64
 4   Salary               5 non-null      int64
 5   Years_of_Experience  5 non-null      int64
 6   Joining_Date         5 non-null      object
 7   Gender               5 non-null      object
 8   Bonus                5 non-null      int64
 9   Rating               5 non-null      float64
dtypes: float64(1), int64(5), object(4)
memory usage: 532.0+ bytes

In [ ]:
employee_data.describe()

,Employee_ID,Age,Salary,Years_of_Experience,Bonus,Rating
count,5.000000,5.000000,5.00000,5.000000,5.0,5.000000
mean,103.000000,34.000000,60000.00000,7.400000,5500.0,4.100000
std,1.581139,5.612486,7905.69415,3.847077,1000.0,0.494975
min,101.000000,28.000000,50000.00000,3.000000,4500.0,3.500000
25%,102.000000,29.000000,55000.00000,4.000000,5000.0,3.800000
50%,103.000000,34.000000,60000.00000,8.000000,5000.0,4.000000
75%,104.000000,38.000000,65000.00000,10.000000,6000.0,4.500000
max,105.000000,41.000000,70000.00000,12.000000,7000.0,4.700000

In [18]:
employee_data.head()

,Employee_ID,Name,Department,Age,Salary,Years_of_Experience,Joining_Date,Gender,Bonus,Rating
0,101,Alice,HR,29,50000,4,15-03-2020,Female,5000,4.5
1,102,Bob,IT,34,70000,8,19-07-2017,Male,7000,4.0
2,103,Charlie,IT,41,65000,10,01-06-2013,Male,6000,3.8
3,104,Diana,Marketing,28,55000,3,10-02-2021,Female,4500,4.7
4,105,Edward,Sales,38,60000,12,25-11-2010,Male,5000,3.5

In [20]:
employee_data.tail()

,Employee_ID,Name,Department,Age,Salary,Years_of_Experience,Joining_Date,Gender,Bonus,Rating
0,101,Alice,HR,29,50000,4,15-03-2020,Female,5000,4.5
1,102,Bob,IT,34,70000,8,19-07-2017,Male,7000,4.0
2,103,Charlie,IT,41,65000,10,01-06-2013,Male,6000,3.8
3,104,Diana,Marketing,28,55000,3,10-02-2021,Female,4500,4.7
4,105,Edward,Sales,38,60000,12,25-11-2010,Male,5000,3.5

In [21]:
import numpy as np
average_salary = np.mean(employee_data['Salary'])
bonus = np.sum(employee_data['Bonus'])
emp_age = np.min(employee_data['Age'])
rate = np.max(employee_data['Rating'])
print(average_salary)
print(bonus)
print(emp_age)
print(rate)

60000.0
27500
28
4.7

In [22]:
employee_data.sort_values(by = ['Salary'],ascending = False)

,Employee_ID,Name,Department,Age,Salary,Years_of_Experience,Joining_Date,Gender,Bonus,Rating
1,102,Bob,IT,34,70000,8,19-07-2017,Male,7000,4.0
2,103,Charlie,IT,41,65000,10,01-06-2013,Male,6000,3.8
4,105,Edward,Sales,38,60000,12,25-11-2010,Male,5000,3.5
3,104,Diana,Marketing,28,55000,3,10-02-2021,Female,4500,4.7
0,101,Alice,HR,29,50000,4,15-03-2020,Female,5000,4.5

In [23]:
def categorize_performance(rating):
  if rating >= 4.5:
    return 'Excellent'
  elif rating >= 4.0:
    return 'Good'
  else:
    return 'Average'

employee_data['Performance Category'] = employee_data['Rating'].apply(categorize_performance)
employee_data

,Employee_ID,Name,Department,Age,Salary,Years_of_Experience,Joining_Date,Gender,Bonus,Rating,Performance Category
0,101,Alice,HR,29,50000,4,15-03-2020,Female,5000,4.5,Excellent
1,102,Bob,IT,34,70000,8,19-07-2017,Male,7000,4.0,Good
2,103,Charlie,IT,41,65000,10,01-06-2013,Male,6000,3.8,Average
3,104,Diana,Marketing,28,55000,3,10-02-2021,Female,4500,4.7,Excellent
4,105,Edward,Sales,38,60000,12,25-11-2010,Male,5000,3.5,Average

In [24]:
missing_values = employee_data.isnull().sum()
print(missing_values)

Employee_ID             0
Name                    0
Department              0
Age                     0
Salary                  0
Years_of_Experience     0
Joining_Date            0
Gender                  0
Bonus                   0
Rating                  0
Performance Category    0
dtype: int64

In [25]:
rename_data = employee_data.rename(columns = {'Employee_ID':'ID'})
rename_data

,ID,Name,Department,Age,Salary,Years_of_Experience,Joining_Date,Gender,Bonus,Rating,Performance Category
0,101,Alice,HR,29,50000,4,15-03-2020,Female,5000,4.5,Excellent
1,102,Bob,IT,34,70000,8,19-07-2017,Male,7000,4.0,Good
2,103,Charlie,IT,41,65000,10,01-06-2013,Male,6000,3.8,Average
3,104,Diana,Marketing,28,55000,3,10-02-2021,Female,4500,4.7,Excellent
4,105,Edward,Sales,38,60000,12,25-11-2010,Male,5000,3.5,Average

In [26]:
employee_data.loc[(employee_data['Years_of_Experience']>5)]

,Employee_ID,Name,Department,Age,Salary,Years_of_Experience,Joining_Date,Gender,Bonus,Rating,Performance Category
1,102,Bob,IT,34,70000,8,19-07-2017,Male,7000,4.0,Good
2,103,Charlie,IT,41,65000,10,01-06-2013,Male,6000,3.8,Average
4,105,Edward,Sales,38,60000,12,25-11-2010,Male,5000,3.5,Average

In [27]:
employee_data.loc[(employee_data['Department']=='IT')]

,Employee_ID,Name,Department,Age,Salary,Years_of_Experience,Joining_Date,Gender,Bonus,Rating,Performance Category
1,102,Bob,IT,34,70000,8,19-07-2017,Male,7000,4.0,Good
2,103,Charlie,IT,41,65000,10,01-06-2013,Male,6000,3.8,Average

In [28]:
def tax_red(salary):
  return (salary*0.1)

employee_data['Tax'] = employee_data['Salary'].apply(tax_red)
employee_data

,Employee_ID,Name,Department,Age,Salary,Years_of_Experience,Joining_Date,Gender,Bonus,Rating,Performance Category,Tax
0,101,Alice,HR,29,50000,4,15-03-2020,Female,5000,4.5,Excellent,5000.0
1,102,Bob,IT,34,70000,8,19-07-2017,Male,7000,4.0,Good,7000.0
2,103,Charlie,IT,41,65000,10,01-06-2013,Male,6000,3.8,Average,6500.0
3,104,Diana,Marketing,28,55000,3,10-02-2021,Female,4500,4.7,Excellent,5500.0
4,105,Edward,Sales,38,60000,12,25-11-2010,Male,5000,3.5,Average,6000.0

In [29]:
employee_data.to_csv('modified_employee_data.csv', index=False)